/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
 */


.title {
    padding: 0.5%;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-right: 0.25%;
    background: rgb(58, 165, 180);
    background: linear-gradient(90deg, rgba(58, 165, 180, 1) 0%, rgba(253, 29, 124, 1) 54%, rgba(69, 248, 252, 1) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(120deg, #84f700, #646464);
}

.tarjetas{
    margin-right: 4.8%;

}
.button {

    height: 90px;
    width: 90px;
    font-size: 50px;
    font-weight: bold;

}

.table__wrapper__3 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 10%;
}

.table__wrapper__3 tr {
    border-bottom: 10px solid #ddd;
}

.table__wrapper__3 thead tr {
    background-color: #03989E;
    color: #fff;
}

.table__wrapper__3 th,
.table__wrapper__3 td {
    text-align: left;
    padding: 1px;
}

/* adding CSS propert when the maximum width of browser is 636px */
@media (max-width: 470px) {
    .table__wrapper__3 * {
        display: inline-table;
    }

    .table__wrapper__3>table> {
        display: none;
    }

    .table__wrapper__3>table>tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        border-bottom: 2px solid #03989E;
        background-color: #eee;
    }

    .table__wrapper__3>table td {
        text-align: right;
        position: relative;
        padding: 8px 12px;
        border-bottom: 1px solid #ddd;
    }

    .table__wrapper__3>table td::before {
        content: attr(data-label);
        position: relative;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}